services:
  postgres:
    image: 'postgres:16'
    environment:
      - 'POSTGRES_DB=schooldb'
      - 'POSTGRES_PASSWORD=kindaodd'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - '8081:8081'
    environment:
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/schooldb'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=kindaodd'
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgdata:
